:root input[type="checkbox"] {
    accent-color: #000;
}

[data-bs-theme="dark"] input[type="checkbox"] {
    accent-color: #fff;
}

.highlight-row.table-info {
    
}

[data-bs-theme="dark"] .highlight-row {
    
}

.highlight-user-dark {
    background-color: rgba(255, 255, 255, 0.05);
}
